
.recommend-title{

    margin-left: 20px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 25px;

  

}
.btns{

    border: 2px solid black;
    padding: 4px;
    margin-left: 7px;
    border-radius: 7px;
    margin-top: 15px;
   
  
}
.recommend-flex{

    margin-left: 10px;
}
.tostify{

    height: 80px;
    width: 500px;
    /* background-color: red;  */
}